<template>
    <transition name="fade">
        <div v-if="!isPlaying" class="modalPause center-align valign-wrapper">
            <button @click="play" class="red lighten-1">
                <i class="large material-icons white-text">play_arrow</i>
            </button>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'ModalPause',
    props: ['resumeGame','isPlaying'],
    methods: {
        play(){
            this.isPlaying = true;
            this.$emit('resumeGame');
        }
    }
}
</script>

<style lang="scss" scoped>
    .modalPause{
        width:100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top:0; left:0;
        background-color: rgba(0,0,0,0.95);
        z-index: 2000;

        button{
            border-radius: 100%;
            transform: scale(5);
            margin: auto;
            cursor: pointer;
            transition: all ease 0.2s;

            &:hover{
                box-shadow: -1px 1px 10px rgba(255,255,255,0.5);
                transition: all ease 0.2s;
            }
        }
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>


