<template>
    <div>
        <nav id="header-app">
            <div class="nav-wrapper red lighten-1">
                <a href="#" data-target="menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="#" class="brand-logo">GéoQuizz</a>
                <ul class="right hide-on-med-and-down">
                    <li><router-link to="/series">Séries</router-link></li>
                    <li><router-link to="/photos">Photos</router-link></li>
                    <li><router-link to="/levels">Levels</router-link></li>
                    <li @click="logout"><a>Logout</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="menu">
            <ul>
                <li><router-link to="/series">Séries</router-link></li>
                <li><router-link to="/photos">Photos</router-link></li>
                <li><router-link to="/levels">Levels</router-link></li>
                <li @click="logout"><a>Logout</a></li>
            </ul>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "HeaderApp",
        methods : {

            /** Methode Logout
             * logout a user
              */
            logout(){
                window.axios.delete("users").then((response) => {
                    this.$store.commit('setToken',false);
                    this.$router.push("/");
                }).catch((error) => {
                    console.log(error.response);
                })
            }
        },
        created(){
            /* Load nav menu if thde device is a mobile */
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });
        }
    }
</script>

<style scoped>

</style>