<template>
    <div class="modalPers">
        <div class="container center-align white">
            <div class="row">
                <h3 class="col l11 s10 left-align">Add a level</h3>
                <button @click="toggleAddLevel(false)" class="col l1 s2">
                    <i class="small material-icons right-align">cancel</i>
                </button>
            </div>
            <div class="row scroll">
                <div v-if="error.is" class="col s12 red-text">
                    {{ error.msg }}
                </div>
                <form class="col s12">
                    <div class="input-field ">
                        <input v-model="newLevel.name" id="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field ">
                        <input v-model="newLevel.dist" id="dist" type="text" class="validate">
                        <label for="dist">Distance (in meter)</label>
                    </div>
                    <div class="input-field ">
                        <input v-model="newLevel.nbphotos" id="nbphotos" type="text" class="validate">
                        <label for="nbphotos">Quantity of photos</label>
                    </div>
                </form>
            </div>
            <button @click="add" v-if="newLevel.name && newLevel.dist && newLevel.nbphotos"  type="submit" class="waves-effect waves-light btn">
                <i class="large material-icons">add_circle</i>
            </button>
            <button @click="add" v-else  type="submit" class="waves-effect waves-light btn" disabled>
                <i class="large material-icons">add_circle</i>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddLevel",
        props : ['viewAddLevel','pushLevel'],
        data(){
            return {
                newLevel : {
                    name : "",
                    dist : "",
                    nbphotos : ""
                },
                error : {
                    is : false,
                    msg : ""
                },
            }
        },
        methods: {

            /** Methode add
             * add a new level
              */
            add(){
                window.axios.post('levels/', {
                    name : this.newLevel.name,
                    dist : this.newLevel.dist,
                    nbphotos : this.newLevel.nbphotos,
                }).then((response) => {
                    this.$emit("pushLevel", response.data.level);
                    this.$emit('viewAddLevel', false);
                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                });

            },

            /** Methode toggleEditLevel
             * open/close editLevel modal
             * @param bool toggle
              */
            toggleAddLevel(toggle){
                this.$emit('viewAddLevel', toggle);
            },
        }
    }
</script>

<style scoped>
    .container{
        margin-top: 4em;
        padding: 2em;
    }
    table img{
        width: 3em;
        height: 3em;
    }
</style>