<template>
    <div>
        <HeaderApp/>

        <div class="container">
            <h1>List of levels</h1>
            <div class="row">
                <button @click="viewAddLevel(true)" class="col m1 offset-m11 s12 waves-effect waves-light btn">
                    <i class="large material-icons">add_circle</i>
                </button>
            </div>
            <div class="row">
                <button v-if="page != paramPagination.first" @click="pagination(false)" class="col s1">
                    <i class="large material-icons">chevron_left</i>
                </button>
                <span v-else class="col s1">

                </span>
                <button v-if="page != paramPagination.last" @click="pagination(true)" class="col s1 offset-s10">
                    <i class="large material-icons">chevron_right</i>
                </button>
            </div>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance (in meters)</th>
                    <th>Quantity of photos</th>
                </tr>
                </thead>

                <tbody>
                    <tr v-for="levels in levels">
                        <td>{{ levels.name }}</td>
                        <td>{{ levels.dist }}</td>
                        <td>{{ levels.nbphotos }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <img v-if="!levels" src="@/assets/loading.gif" class="loader col s2 offset-s5" />
        </div>

        <transition name="fade">
            <AddLevel v-if="toggleAddLevel" @viewAddLevel="viewAddLevel" @pushLevel="pushLevel"/>
        </transition>
    </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue'
import AddLevel from '@/components/level/AddLevel.vue'

export default {
    name: "ListLevel",
    components: {
        HeaderApp,
        AddLevel,
    },
    data(){
        return{
            levels: false,
            toggleAddLevel : false,
            page : 1,
            paramPagination : false,
            detailLevel : "",
        }
    },
    mounted(){
        this.memberConnected();
        this.getLevels();
    },
    methods : {

        /** Methode getLevels
         * Take a part of level
         * Change if page change
          */
        getLevels(){
            window.axios.get("levels?page="+this.page).then((response) => {
                this.levels = response.data.levels;
                this.paramPagination = response.data.page;
            }).catch((error) => {
                this.$store.commit('setToken',false);
                this.$router.push("/");
            })
        },

        /** Methode pagination
         * ++ or -- the page
         * @param bool sens
          */
        pagination(sens){
            this.levels = false;
            if(sens){
                this.page = this.paramPagination.next;           
            }
            else{
                this.page = this.paramPagination.prev;
            }
            this.getLevels();
        },

        /** Methode viewAddLevel
         * toggle AddLevel modal
         * @param bool toggle
          */
        viewAddLevel(toggle){
            this.toggleAddLevel = toggle;
        },

        /** Methode pushLevel
         * event to add a level into the levels list
         * @param {*} level
          */
        pushLevel(level){
            this.levels.push(level);
        },

        /** Methode updateLevels
         * event refresh listLevels
          */
        updateLevels(){
            this.getLevels();
        }
    }
}
</script>
