<template>
    <div id="register" class="page">
        <header-connection></header-connection>
        <form v-if="!success.is" class="container center-align" @submit.prevent="register">
            <div v-if="error.is" class="red-text">
                {{ error.msg }}
            </div>
            <div class="input-field ">
                <input v-model="email" id="login" type="email" class="validate">
                <label for="login">Email</label>
            </div>
            <div class="input-field ">
                <input v-model="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <div class="input-field ">
                <input v-model="verifPassword" id="password" type="password" class="validate">
                <label for="password">Password verification</label>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Register</button>
        </form>
        <div v-else class="container center-align green-text">
            {{ success.msg }}
        </div>
    </div>
</template>

<script>
    import HeaderConnection from "../components/HeaderConnection";

    export default {
        name: "Register",
        components: {
            HeaderConnection
        },
        data(){
            return {
                email : "",
                password : "",
                verifPassword : "",
                error : {
                    is : false,
                    msg : ""
                },
                success : {
                    is : false,
                    msg : ""
                }
            }
        },
        mounted(){
            if(this.memberConnected()){
                this.$router.push("/series");
            }
        },
        methods: {
            
            /** Methode register
             * Registre a new user
              */
            register(){
                if(this.password == this.verifPassword){
                    window.axios.post('users', {
                        email : this.email,
                        password : this.password
                    }).then((response) => {
                        this.success.is = true;
                        this.success.msg = "Register";
                        setTimeout(()=>{
                            this.$router.push("/");
                        }, 1000)

                    }).catch((error) => {
                        this.error.is = true;
                        this.error.msg = error.response.data.message;
                    })
                }
                else{
                    this.email = "";
                    this.password = "";
                    this.verifPassword = "";
                    this.error.is = true;
                    this.error.msg = "Bad Password";
                }
            }
        }
    }
</script>

<style scoped>

</style>