<template>
    <div id="signin" class="page">
        <header-connection></header-connection>
        <form v-if="!success.is" class="container center-align" @submit.prevent="login">
            <div v-if="error.is" class="red-text">
                {{ error.msg }}
            </div>
            <div class="input-field ">
                <input v-model="email" id="login" type="email" class="validate">
                <label for="login">Login</label>
            </div>
            <div class="input-field ">
                <input v-model="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
            <button type="submit" class="waves-effect waves-light btn">Login</button>
        </form>
        <div v-else class="container center-align green-text">
            {{ success.msg }}
        </div>
    </div>
</template>

<script>
    import HeaderConnection from "../components/HeaderConnection";

    export default {
        name: "Signin",
        components: {
            HeaderConnection
        },
        mounted(){
            if(this.memberConnected()){
                this.$router.push("/series");
            }
        },
        data(){
            return {
                email : "",
                password : "",
                error : {
                    is : false,
                    msg : ""
                },
                success : {
                    is : false,
                    msg : ""
                }
            }
        },
        methods: {
            
            /** Methode login
             * Log a user if this login and password is good
              */
            login(){
                window.axios.post('users/login', {}, {
                    auth: {
                        username: this.email,
                        password: this.password
                    }
                }).then((response) => {
                    this.$store.commit('setToken',response.data.token);
                    this.setToken(response.data.token);
                    this.success.is = true;
                    this.success.msg = "Connection";
                    setTimeout(()=>{
                        this.$router.push("/series");
                    }, 1000)

                }).catch((error) => {
                    this.error.is = true;
                    this.error.msg = error.response.data.message;
                })
            }
        }
    }
</script>

<style scoped>

</style>