<template>
    <div id="map-container" v-if="center !== null" >
        <l-map class="map "
               ref="myMap"
               :zoom="$store.state.currentSeries.zoom"
               style=""
               :center="center"
               @click="setMarker">
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker v-if="$store.state.marker" :lat-lng="$store.state.marker" ></l-marker>
            <l-marker v-if="$store.state.marker"  :icon="icon" :lat-lng="[this.photo.lat,this.photo.lng]"  >
                <l-tooltip :options="{permanent: true, direction: 'top'}">{{this.photo.description}}</l-tooltip>
            </l-marker>
        </l-map>
    </div>

</template>

<script>
    export default {
        name: "Map",
        props: ['photo'],
        data () {
            return {
                center: null,
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                customText: "bla",
                icon: L.icon({
                    iconUrl: '/soluce-location.png',
                    iconSize: [32, 37],
                    iconAnchor: [16, 15]
                }),

            };
        },


        mounted () {
            // mapObject is not going to be available immediately that is why $nextTick method is used.
            this.$nextTick(() => {
                this.$refs.myMap.mapObject;

            });
            this.center = [this.$store.state.currentSeries.lat, this.$store.state.currentSeries.lng];
            this.$store.commit('setMarker',false);
            this.startTimer();
        },

        methods: {

            //Pause un marqueur sur la carte lorsque l'on clique dessus
            setMarker(event){
                if (!this.$store.state.marker){
                    if (this.$store.state.isPlaying){ //si le jeu n'est pas en pause
                        let marker = [ event.latlng.lat, event.latlng.lng]; //on récupère les coordonnées du marqueur posé
                        this.$store.commit('setMarker',marker);
                        this.stopTimer(); //On arrete le chrono
                        this.computeScore(); //On calcule le score
                    }
                }
            },

            //Stoppe le chrono et calcule le temps mis entre le départ du chrono et l'instant t  et le réinitialise
            stopTimer() {
                var millis = Date.now() - this.$store.state.start;
                let chrono = Math.floor(millis/1000);
                this.$store.commit('setChrono', chrono);
            },

            //Calcule le score en fonction de la distance et du temps mis
            computeScore() {
                let distance = this.getDistance(this.$store.state.marker, [this.photo.lat,this.photo.lng]);
                this.scoreAct = 0;

                if (distance < this.$store.state.currentLevel.dist) { // si la distance est inférieure à la distance du level
                    this.scoreAct+=5;
                } else if (distance < (2*this.$store.state.currentLevel.dist)) { // si la distance est inférieure  2 * la distance du level
                    this.scoreAct+=3;
                } else if (distance < (3*this.$store.state.currentLevel.dist)) { // si la distance est inférieure  3 * la distance du level
                    this.scoreAct+=1;
                }


                if (this.$store.state.chrono < 5 ){ // points multipliés par 4 pour une réponse en moins de 5s
                    this.scoreAct *= 4;
                } else if (this.$store.state.chrono < 10 ) { // points multipliés par 2 pour 1 réponse en moins de 10s
                    this.scoreAct *= 2;
                } else if (this.$store.state.chrono > 20 ) { //points pas acquis pour 1 réponse en plus de 20s
                    this.scoreAct = 0;
                }

                let scoreTotal = this.$store.state.score;
                scoreTotal += this.scoreAct;

                this.$store.commit('setScore', scoreTotal);
            },
        }
    }
</script>

<style scoped>
    #map-container {
        width: 100%;
        height: 100%;
        padding: 10px;
        grid-area: map;
    .map {
        width:100%;
    }
    }
</style>