<template>
    <Page actionBarHidden="true" class="myPage">
        <ScrollView>
            <FlexboxLayout flexDirection="column" justifyContent="space-between">
                <FlexboxLayout flexDirection="column" justifyContent="space-between">
                    <Image
                            :visibility="!visible ? 'visible' : 'collapsed'"
                            src="https://res.cloudinary.com/djfa7u4wc/image/upload/v1552994275/Icons/logo.png"
                            style="margin-bottom: -40; margin-top: 50" width="50%"></Image>
                    <Image
                            :visibility="!visible ? 'visible' : 'collapsed'"
                            src="https://res.cloudinary.com/djfa7u4wc/image/upload/v1553088116/Icons/GeoQuizz.png"
                            style="margin-bottom: -18" width="50%"></Image>
                    <Label :visibility="!visible ? 'visible' : 'collapsed'" text="              Image Uploader"
                           textAlignment="center"></Label>
                    <ScrollView :visibility="visible ? 'visible' : 'collapsed'" orientation="horizontal"
                                scrollBarIndicatorVisible="false">
                        <FlexboxLayout alignContent="center" flexDirection="row" justifyContent="center">
                            <Image
                                    :key="index"
                                    :src="img"
                                    height="300"
                                    margin="15"
                                    v-for="(img, index) in currentImg"></Image>
                        </FlexboxLayout>
                    </ScrollView>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="column">
                    <FlexboxLayout flexDirection="row" justifyContent="space-around">
                        <Image
                                :isEnabled="disabled"
                                @tap="takePicture"
                                class="myBtn myBtn-active myBtn-primary myBtn-Image"
                                height="120"
                                src="https://res.cloudinary.com/djfa7u4wc/image/upload/v1552993406/Icons/photo-camera.png"
                                width="120"
                        ></Image>
                        <Image
                                :isEnabled="disabled"
                                @tap="selectPicture"
                                class="myBtn myBtn-active myBtn-primary myBtn-Image"
                                height="120"
                                src="https://res.cloudinary.com/djfa7u4wc/image/upload/v1552993405/Icons/picture.png"
                                width="120"></Image>
                    </FlexboxLayout>
                    <Button
                            :isEnabled="disabled"
                            :visibility="!svisible && !visible ? 'visible' : 'collapsed'"
                            @tap="svisible = true"
                            class="myBtn myBtn-active myBtn-primary"
                            text="Create a new series"></Button>

                </FlexboxLayout>
                <FlexboxLayout class="form" flexDirection="column">
                    <StackLayout class="input-field">
                        <TextField
                                :isEnabled="disabled"
                                :visibility="visible || svisible ? 'visible' : 'collapsed'"
                                hint="Enter a description for the photos"
                                v-model="description"
                        ></TextField>
                    </StackLayout>
                    <StackLayout justifyContent="space-between" class="input-field">
                        <TextField
                                :isEnabled="disabled"
                                :visibility="svisible ? 'visible' : 'collapsed'"
                                hint="Enter a city for the series"
                                v-model="city"
                        ></TextField>
                    </StackLayout>
                    <Button
                            :isEnabled="disabled"
                            :visibility="visible && !svisible ? 'visible' : 'collapsed'"
                            @tap="postPicturesCloudinary"
                            class="myBtn myBtn-active myBtn-primary"
                            text="Upload photo(s)"></Button>
                    <Button
                            :isEnabled="disabled"
                            :visibility="currentImg.length >= 10 && svisible === false ? 'visible' : 'collapsed'"
                            @tap="svisible = true; error = false"
                            class="myBtn myBtn-active myBtn-primary"
                            text="Create a new series with the current photos"></Button>
                    <Button
                            :isEnabled="disabled"
                            :visibility="svisible ? 'visible' : 'collapsed'"
                            @tap="postSeriesAPI"
                            class="myBtn myBtn-active myBtn-primary"
                            text="Create series and upload photos"></Button>
                    <Button
                            :isEnabled="disabled"
                            :visibility="currentImg.length >= 10 && !svisible === false ? 'visible' : 'collapsed'"
                            @tap="svisible = false; error = false"
                            class="myBtn myBtn-active myBtn-primary"
                            text="Upload only the photos"></Button>
                    <Label text="Server error. Try again" style="font-size: 15" textAlignment="center" :visibility="error ? 'visible' : 'collapsed'"></Label>
                </FlexboxLayout>
                <GridLayout
                        :columns="columns"
                        :visibility="disabled ? 'collapsed' : 'visible'"
                        alignSelf="flex-end"
                        class="progressbar"
                >
                    <StackLayout class="progressbar-value" col="0"></StackLayout>
                </GridLayout>
            </FlexboxLayout>
        </ScrollView>
    </Page>
</template>

<script>
    import * as camera from "nativescript-camera";
    import * as imagePicker from "nativescript-imagepicker";
    import * as axios from "axios";
    import {ImageSource} from "tns-core-modules/image-source";
    const geoLocation = require("nativescript-geolocation");
    const connectivityModule = require("tns-core-modules/connectivity");
    export default {
        methods: {
            takePicture() {
                this.error = false;
                camera
                    .requestPermissions()
                    .then(() => {
                        camera
                            .takePicture({keepAspectRatio: true, saveToGallery: false})
                            .then(imageAsset => {
                                new ImageSource()
                                    .fromAsset(imageAsset)
                                    .then(source => {
                                        const base64image = source.toBase64String("jpeg", 50);
                                        this.image64.push("data:image/jpeg;base64," + base64image);
                                    });
                                this.currentImg.push(imageAsset);
                                this.visible = true;
                            })
                            .catch(error => {
                                this.image64 = [];
                                this.currentImg = [];
                                this.visible = false;
                                console.log("Error -> " + error.message);
                            });
                    })
                    .catch(error => {
                        console.log("Error -> " + error.message);
                    });
            },
            selectPicture() {
                this.error = false;

                let context = imagePicker.create({
                    mode: "multiple",
                    mediaType: 1,
                    minimumNumberOfSelection: 1,
                    maximumNumberOfSelection: 11,
                    showsNumberOfSelectedAssets: true
                });
                context
                    .authorize()
                    .then(function () {
                        return context.present();
                    })
                    .then(selection => {
                        selection.forEach(selected => {
                            new ImageSource().fromAsset(selected).then(source => {
                                const base64image = source.toBase64String("jpeg", 50);
                                this.image64.push("data:image/jpeg;base64," + base64image);
                            });
                            this.currentImg.push(selected);
                            this.visible = true;
                        });
                    })
                    .catch(function (error) {
                        this.image64 = [];
                        this.currentImg = [];
                        this.visible = false;
                        console.log("Error -> " + error.message);
                    });
            },
            enableLocationServices: function () {
                geoLocation
                    .isEnabled()
                    .then(enabled => {
                        if (!enabled) {
                            geoLocation.enableLocationRequest().then(() => this.showLocation());
                        } else {
                            this.showLocation();
                        }
                    })
                    .catch(function (error) {
                        console.log("Error -> " + error.message);
                    });
            },
            showLocation: function () {
                geoLocation.watchLocation(
                    location => {
                        this.currentGeoLocation = location;
                    },
                    error => {
                        console.log("Error -> " + error.message);
                    },
                    {
                        desiredAccuracy: 3,
                        updateDistance: 10,
                        minimumUpdateTime: 1000 * 1
                    }
                );
            },
            getConnectivity() {
                const myConnectionType = connectivityModule.getConnectionType();

                switch (myConnectionType) {
                    case connectivityModule.connectionType.none:
                        // Denotes no Internet connection.
                        console.log("No connection");
                        this.connectivity = false;
                        break;
                    case connectivityModule.connectionType.wifi:
                        // Denotes a WiFi connection.
                        console.log("WiFi connection");
                        this.connectivity = true;
                        break;
                    case connectivityModule.connectionType.mobile:
                        // Denotes a mobile connection, i.e. cellular network or WAN.
                        console.log("Mobile connection");
                        this.connectivity = true;
                        break;
                    case connectivityModule.connectionType.ethernet:
                        // Denotes a ethernet connection.
                        console.log("Ethernet connection");
                        this.connectivity = true;
                        break;
                    // Bluetooth functionality in master branch (to be released with 5.0.0)
                    // case connectionType.bluetooth:
                    //     // Denotes a ethernet connection.
                    //     console.log("Bluetooth connection");
                    //    //     break;
                    default:
                        break;
                }
            },
            setProgressbarWidth(percent) {
                this.columns = percent + "*," + (100 - percent) + "*";
            },
            postPicturesCloudinary() {
                this.getConnectivity();
                if (!this.connectivity) {
                    alert({
                        title: "Connection error!",
                        message: "You don't have internet connection.",
                        okButtonText: "Accept"
                    }).then(() => {
                        console.log("Alert dialog closed");
                    });
                } else {
                    if (this.description === "") {
                        alert({
                            title: "Attention!",
                            message: "You need to write a description.",
                            okButtonText: "Accept"
                        }).then(() => {
                            console.log("Alert dialog closed");
                        });
                    } else {
                        this.disabled = false;
                        this.error = false;

                        let CLOUDINARY_URL =
                            "https://api.cloudinary.com/v1_1/djfa7u4wc/image/upload";
                        let CLOUDINARY_UPLOAD_PRESET = "hqquzoc1";
                        let self = this;
                        this.individualPercentage = 100 / this.image64.length;
                        this.image64.forEach(image => {
                            let formData = new FormData();
                            formData.append("file", image);
                            formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);

                            axios({
                                url: CLOUDINARY_URL,
                                method: "POST",
                                headers: {
                                    "Access-Control-Allow-Origin": "*",
                                    "Access-Control-Allow-Methods": "GET,PUT,POST,DELETE,PATCH,OPTIONS",
                                    "Access-Control-Allow-Headers":
                                        "Origin, X-Requested-With, Content-Type",
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                data: formData
                            }).then(response => {
                                self.urlString = response.data.secure_url;
                            }).catch(error => {
                                alert({
                                    title: "Cloudinary API's error!",
                                    message: "There is an error: " + JSON.stringify(error.response),
                                    okButtonText: "Accept"
                                }).then(() => {
                                    this.disabled = true;
                                    console.log("Alert dialog closed");
                                });
                            });
                        });
                    }
                }
            },
            postPicturesAPI(url, idSeries) {
                let URL = "https://apimobilegeoquizz.pagekite.me/photos";

                let formData = new FormData();
                formData.append("description", this.description);
                formData.append("lat", this.currentGeoLocation.latitude);
                formData.append("lng", this.currentGeoLocation.longitude);
                formData.append("url", url);
                if (idSeries !== 0) {
                    formData.append("idSeries", idSeries);
                }

                axios({
                    url: URL,
                    method: "POST",
                    crossDomain: true,
                    withCredentials: true,
                    headers: {
                        "Access-Control-Allow-Origin": "*",
                        "Access-Control-Allow-Methods":
                            "GET,PUT,POST,DELETE,PATCH,OPTIONS",
                        "Access-Control-Allow-Headers":
                            "Origin, X-Requested-With, Content-Type",
                        "Cache-Control": "no-cache",
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    data: formData
                }).then(response => {
                    this.progressPercentage += this.individualPercentage;
                    if (this.progressPercentage >= 99.9) {
                        alert({
                            title: "Success!",
                            message: "Photos added with no errors.",
                            okButtonText: "Accept"
                        }).then(() => {
                            this.showLocation();
                            this.image64 = [];
                            this.currentImg = [];
                            this.description = "";
                            this.city = "";
                            this.disabled = true;
                            this.visible = false;
                            this.svisible = false;
                            this.progressPercentage = 0;
                            this.idSeries = 0;
                        });
                    }
                }).catch(error => {
                    this.disabled = true;
                    this.error = true;
                    console.log(error);
                    // alert({
                    //     title: "Error!",
                    //     message: "There is an error: " + error,
                    //     okButtonText: "Accept"
                    // }).then(() => {
                    //     console.log("Alert dialog closed");
                    // });
                });
            },
            postSeriesAPI()  {
                this.getConnectivity();
                if (this.currentImg.length < 10) {
                    alert({
                        title: "Attention!",
                        message: "You need at least 10 photos to create a series.",
                        okButtonText: "Accept"
                    }).then(() => {
                        console.log("Alert dialog closed");
                    });
                } else {
                    if (!this.connectivity) {
                        alert({
                            title: "Connection error!",
                            message: "You don't have internet connection.",
                            okButtonText: "Accept"
                        }).then(() => {
                            console.log("Alert dialog closed");
                        });
                    } else {
                        if (this.description === "") {
                            alert({
                                title: "Attention!",
                                message: "You need to write a description.",
                                okButtonText: "Accept"
                            }).then(() => {
                                console.log("Alert dialog closed");
                            });
                        } else {
                            if (this.city === "") {
                                alert({
                                    title: "Attention!",
                                    message: "You need to write a city.",
                                    okButtonText: "Accept"
                                }).then(() => {
                                    console.log("Alert dialog closed");
                                });
                            } else {
                                this.disabled = false;
                                this.error = false;

                                let URL = "https://apimobilegeoquizz.pagekite.me/series";

                                let formData = new FormData();
                                formData.append("city", this.city);
                                formData.append("lat", this.currentGeoLocation.latitude);
                                formData.append("lng", this.currentGeoLocation.longitude);
                                formData.append("zoom", 15);

                                axios({
                                    url: URL,
                                    method: "POST",
                                    crossDomain: true,
                                    withCredentials: true,
                                    headers: {
                                        "Access-Control-Allow-Origin": "*",
                                        "Access-Control-Allow-Methods":
                                            "GET,PUT,POST,DELETE,PATCH,OPTIONS",
                                        "Access-Control-Allow-Headers":
                                            "Origin, X-Requested-With, Content-Type",
                                        "Cache-Control": "no-cache",
                                        "Content-Type": "application/x-www-form-urlencoded"
                                    },
                                    data: formData
                                }).then(response => {
                                    this.idSeries = response.data.series.id;
                                    alert({
                                        title: "Success!",
                                        message: "Series created with no errors.",
                                        okButtonText: "Accept"
                                    }).then(() => {
                                        this.postPicturesCloudinary();
                                    });
                                }).catch(error => {
                                    this.disabled = true;
                                    this.error = true;
                                });
                            }
                        }
                    }
                }
            },
        },
        mounted() {
            this.enableLocationServices();
        },
        watch: {
            urlString(newUrl, oldUrl) {
                this.postPicturesAPI(newUrl, this.idSeries);
            },
            progressPercentage(newPercentage, oldPercentage) {
                this.setProgressbarWidth(Math.round(newPercentage));
            }
        },
        data() {
            return {
                error:false,
                urlString: "",
                idSeries: 0,
                individualPercentage: 0,
                progressPercentage: 0,
                image64: [],
                currentImg: [],
                columns: 0,
                city: "",
                description: "",
                svisible: false,
                visible: false,
                disabled: true,
                connectivity: true,
                currentGeoLocation: {
                    latitude: null,
                    longitude: null,
                    altitude: null,
                    direction: null
                }
            };
        }
    }
</script>

<style scoped>
    Label {
        font-family: 'Comic Sans MS';
        font-size: 20;
        color: white;
    }
    TextField {
        border-width: 0 0 1 0;
        border-bottom-color: white;
        placeholder-color: #e1e1e1;
        color: white;
        font-size: 20;
    }
    .myPage {
        background-color: #26a69a;
    }
    .myActionBar {
        background-color: #ef5350;
        color: #fff
    }
    .myBtn {
        color: #ef5350;
        background-color: transparent;
        min-height: 36;
        min-width: 64;
        padding: 10 10 10 10;
        font-size: 18;
        margin: 8 16 8 16
    }
    .myBtn.myBtn-active:highlighted {
        color: #e1e1e1;
        background-color: #ff786d
    }
    Image:highlighted {
        color: #e1e1e1;
        background-color: #ff786d
    }
    .myBtn-primary {
        background-color: #ef5350;
        border-color: #ef5350;
        color: #ffffff
    }
    .myBtn[isEnabled=false] {
        color: #b9b9b9;
        background-color: #696969;
        border-color: #696969
    }
    .myBtn-Image {
        border-radius: 25px;
    }
    .progressbar {
        height: 5;
        width: 100%;
        /*margin: 10;*/
        /*border-radius: 10;*/
        /*border-color: white;*/
        /*border-width: 1;*/
    }
    .progressbar-value {
        background: #ef5350;
        /*border-radius: 9;*/
    }
</style>