<template>
    <div class="modalPers z-index">
        <div class="container center-align white">
            <div class="row">
                <button @click="toggleDetailPhoto(false)" class="col s1 offset-s11">
                    <i class="small material-icons right-align">cancel</i>
                </button>
            </div>
            <div class="row">
                <img :src="photo.url"/>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BigPhoto",
        props : ['photo', 'viewDetailPhoto'],
        methods: {

            /** Methode toggleDetailPhoto
             * toggle modal
             * @param bool toggle
              */
            toggleDetailPhoto(toggle){
                this.$emit('viewDetailPhoto', toggle);
            }
        }
    }
</script>

<style scoped>
    .container{
        margin-top: 4em;
        padding: 2em;
    }
    .z-index{
        z-index: 1000;
    }
    img{
        max-height: 60vh;
        width: auto;
    }
</style>