<template>
    <div>
        <HeaderApp/>

        <div class="container">
            <h1>List of photos</h1>
            <div class="row">
                <button @click="addPhoto" class="col m1 offset-m11 s12 waves-effect waves-light btn">
                    <i class="large material-icons">add_circle</i>
                </button>
            </div>
            <div class="row">
                <button v-if="page != paramPagination.first" @click="pagination(false)" class="col s1">
                    <i class="large material-icons">chevron_left</i>
                </button>
                <span v-else class="col s1">

                </span>
                <button v-if="page != paramPagination.last" @click="pagination(true)" class="col s1 offset-s10">
                    <i class="large material-icons">chevron_right</i>
                </button>
            </div>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                    <tr v-for="photo in photos">
                        <td>{{ photo.description }}</td>
                        <td>{{ photo.lat }}</td>
                        <td>{{ photo.lng }}</td>
                        <td>
                            <img @click="displayDetailPhoto(photo)" :src="photo.url" class="click circle responsive-img"/>
                        </td>
                        <td>
                            <button @click="editPhoto(photo)">
                                <i class="small material-icons red-text lighten-1-text">edit</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-if="!photos" class="row">
                <img src="@/assets/loading.gif" class="loader col s2 offset-s5" />
            </div>
        </div>
        <transition name="fade">
            <EditPhoto v-if="toggleEditPhoto" :photo="detailPhoto" @viewEditPhoto="viewEditPhoto"/>
        </transition>
        <transition name="fade">
            <BigPhoto v-if="toggleDetailPhoto" :photo="detailPhoto" @viewDetailPhoto="viewDetailPhoto"/>
        </transition>
        <transition name="fade">
            <AddPhoto v-if="toggleAddPhoto" @viewAddPhoto="viewAddPhoto" @pushPhotos="pushPhotos"/>
        </transition>
    </div>
</template>

<script>
import HeaderApp from '@/components/HeaderApp.vue'
import EditPhoto from '@/components/photo/EditPhoto.vue'
import AddPhoto from '@/components/photo/AddPhoto.vue'
import BigPhoto from '@/components/photo/BigPhoto.vue'

export default {
    name: "ListPhotos",
    components: {
        HeaderApp,
        EditPhoto,
        AddPhoto,
        BigPhoto
    },
    data(){
        return{
            photos: false,
            detailPhoto : "",
            toggleEditPhoto : false,
            toggleAddPhoto : false,
            toggleDetailPhoto : false,
            page : 1,
            paramPagination : false,
        }
    },
    mounted(){
        this.memberConnected();
        this.getPhotos();
    },
    methods : {

        /** Methode getPhotos
         * get a part of photos
         * (change with page)
             */
        getPhotos(){
            window.axios.get("photos?page="+this.page).then((response) => {
                this.photos = response.data.photos;
                this.paramPagination = response.data.page;
            }).catch((error) => {
                this.$store.commit('setToken',false);
                this.$router.push("/");
            })
        },

        /** Methode pagination
         * ++ or -- the page
         * @param bool sens
         */
        pagination(sens){
            this.photos = false;
            if(sens){
                this.page = this.paramPagination.next;           
            }
            else{
                this.page = this.paramPagination.prev;
            }
            this.getPhotos();
        },

        /** Methode editPhoto
         * Display the modal to edit location of a photo
         * @param {*} photo
          */
        editPhoto(photo){
            this.detailPhoto = photo;
            this.toggleEditPhoto = true;
        },

        /** Methode displayDetailPhoto
         * Display the photo in big
         * @param {*} photo
          */
        displayDetailPhoto(photo){
            this.detailPhoto = photo;
            this.toggleDetailPhoto = true;
        },
        
        /** Methode addPhoto
         * Display form to add a photo
         * @param mixed photo
          */
        addPhoto(){
            this.toggleAddPhoto = true;
        },

        /** Methode view...
         * toggle his modal
         * @param bool toogle
          */
        viewEditPhoto(toggle){
            this.toggleEditPhoto = toggle;
        },
        viewAddPhoto(toggle){
            this.toggleAddPhoto = toggle;
        },
        viewDetailPhoto(toggle){
            this.toggleDetailPhoto = toggle;
        },

        /** Methode pushPhotos
         * Special event to add a new photo into
         * the list of photos
         * 
         * @param {*} photo
          */
        pushPhotos(photo){
            this.photos.push(photo);
        }
    }
}
</script>

<style scoped>
table img{
    width: 3em;
    height: 3em;
}
</style>

